.get1 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-12.jpg);
}
.get2 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-2.jpg);
}
.get3 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-41.jpg);
}
.get4 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-8.jpg);
}
.get5 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-15.jpg);
}
.get6 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-18.jpg);
}

