.phot1 {
	background-image: url(http://www.grahamharkness.ie/iconicimage/images/bgimg/BG-33.jpg);
	}

.phot2 {
	background-image: url(http://www.grahamharkness.ie/iconicimage/images/bgimg/BG-34.jpg);
	}

.phot3 {
	background-image: url(http://www.grahamharkness.ie/iconicimage/images/bgimg/BG-35.jpg);
	}

.phot4 {
	background-image: url(http://www.grahamharkness.ie/iconicimage/images/bgimg/BG-36.jpg);
	}
	
.phot5 {
	background-image: url(http://www.grahamharkness.ie/iconicimage/images/bgimg/BG-37.jpg);
	}
	
.phot6 {
	background-image: url(http://www.grahamharkness.ie/iconicimage/images/bgimg/BG-38.jpg);
	}
	

