.reg1 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-10.jpg);
}
.reg2 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-20.jpg);
}
.reg3 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-27.jpg);
}

