

.ed1 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-27.jpg);
	}

.ed2 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-28.jpg);
	}

.ed3 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-29.jpg);
	}

.ed4 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-30.jpg);
	}
	
.ed5 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-31.jpg);
	}
	
.ed6 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-32.jpg);
	}
	
