.loc1 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-16.jpg);
}
.loc2 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-17.jpg);
}
.loc3 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-18.jpg);
}
.loc4 {
 background-image: urlhttp://www.grahamharkness.ie/images/bgimg/BG-19.jpg);
}
.loc5 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-20.jpg);
}
.loc6 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-21.jpg);
}
.loc7 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-22.jpg);
}
.loc8 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-23.jpg);
}
.loc9 {
	background-image: url(http://www.grahamharkness.ie/images/bgimg/BG-24.jpg);
}
